doctype html
html(lang='en')
  head
    title Form List Data
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css')
    style.
      table.ui.celled img { display: inline-block; }
      footer { margin: 35px 0 15px 0; text-align: center }
  body
    main#main
    h1.ui.center.aligned.header List Data
    .ui.container
      table.ui.celled.table.center.aligned
        thead
          tr
            th Email
            th Nama
            th Umur
        tbody
          each user in users
            tr
              td #{user.user_email}
              td #{user.user_fname}
              td #{user.user_age}
        tfoot
          tr
            th(colspan='6')
    footer
      p Already have an account? 
        a(href='/login') Login
      p © #{new Date().getFullYear()}