extends layout

block content
  if authorised
    p Welcome #{fname} | 
      a(href="/exit") Log Out
  else
    p View List Data? 
      a(href='/list') List
    p Already have an account? 
      a(href='/login') Login